

.container{
  /* border: 1px solid green; */
  max-width: 700px;
  margin:auto;
}

h1{
  color:steelblue
}

.counters {
  display:flex;
  justify-content: flex-start;
  flex-direction: wrap;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  background-color: white;
  width:250px;
  border: 1px solid #fcfcf9;
  padding:10px;
  margin:10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px -3px,
  rgba(0, 0, 0, 0.05) 0px 2px 3px -2px;

}

.counter > h1 {
  color:#555;
  font-size:24px;
  /* margin: 0px 0px 24px 0px; */
  margin-bottom: 24px;
}

.counter-control {
  display: flex;
}

.counter-control > button{
  margin-right: 8px;
  border: 2px solid steelblue;
  border-radius: 4px;
  background-color: white;
  color: steelblue;
  cursor:pointer;
}

.counter-control > button:hover{
  background-color: steelblue;
  color: white;
}